// page

.page {
  padding-top: 0.9rem;
  .m-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

.page-welcome {
  padding-top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  .gust-btn {
    position: absolute;
    right: 0.3rem;
    top: 0.7rem;
    color: #999;
    font-size: 0.28rem;
    z-index: 10;
    &::before {
      float: right;
      margin-left: 0.1rem;
    }
  }
  .login-btn,
  .register-btn {
    position: absolute;
    bottom: 1rem;
    display: block;
    width: 3.1rem;
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    border-radius: 0.88rem;
    border: 2px solid #b5beff;
    font-size: 0.32rem;
    color: #b5beff;
    z-index: 10;
  }
  .login-btn {
    left: 0.5rem;
  }
  .register-btn {
    right: 0.5rem;
  }
  .finish-btn {
    z-index: 10;
    position: absolute;
    background: #b5beff;
    bottom: 1rem;
    display: none;
    width: calc(100% - 1rem);
    height: 0.88rem;
    margin-left: 0.5rem;
    text-align: center;
    line-height: 0.88rem;
    border-radius: 0.88rem;
    font-size: 0.32rem;
    color: #fff;
  }
}

.page-login,
.page-register {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  background: url("../images/login-bg.png") 100% 100%;

  .avatar-wrapper {
    height: 2.6rem;
    padding-top: 0.8rem;
    text-align: center;
    .inner-wrapper {
      width: 1.6rem;
      height: 100%;
      margin: 0 auto;
      .avatar-holder {
        position: relative;
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 auto;
        border-radius: 50px;
        &::before {
          position: absolute;
          font-size: 0.4rem;
          bottom: -0.1rem;
          right: -0.1rem;
          color: #b5beff;
        }
        img {
          width: 1.6rem;
          height: 1.6rem;
          border-radius: 50px;
        }
      }
      input {
        visibility: hidden;
        height: 1px;
        width: 1px;
      }
    }
  }
  .logo-wrapper {
    width: 100%;
    height: 3.8rem;
    padding-top: 1.8rem;
    img {
      width: 2rem;
      height: 2rem;
      margin: 0 auto;
    }
  }
  .register-feild {
    margin-top: 2.2rem;
  }
  .feild-wrapper {
    padding: 0 0.5rem;
    line-height: 1rem;
    .input-feild {
      display: block;
      margin-top: 0.2rem;
      &::before {
        color: #999;
        font-size: 0.4rem;
      }
      input {
        float: right;
        width: calc(100% - 0.8rem);
        margin-left: 0.2rem;
        outline: none;
        border: none;
        font-size: 0.28rem;
        margin-top: 0.35rem;
      }
      &::after {
        content: "";
        display: block;
        float: right;
        width: calc(100% - 0.7rem);
        height: 1px;
        background: #e4e4e4;
      }
    }
    .verification-code {
      input {
        width: calc(100% - 3rem);
        margin: 0 0 0 0.3rem;
        float: none;
      }
      .veri-btn {
        float: right;
        margin-top: 0.2rem;
        border: 1px solid #dedede;
        width: 1.8rem;
        height: 0.6rem;
        line-height: 0.6rem;
        font-size: 0.28rem;
        color: #999;
        text-align: center;
        border-radius: 4px;
      }
    }
  }
  .tip {
    font-size: 0.12rem;
    color: #999;
    text-align: center;
    margin-top: 0.2rem;
  }
  .login-btn {
    margin: 0.8rem auto 4rem !important;
  }
  .login-btn,
  .next-btn {
    display: block;
    width: 6.5rem;
    height: 0.88rem;
    background: #b5beff;
    border-radius: 50px;
    margin: 0.8rem auto 0;
    line-height: 0.88rem;
    text-align: center;
    color: #fff;
    font-size: 0.32rem;
    &:active {
      background: #b0b0ff;
    }
  }
  .sdk-login {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
    .dividing-line {
      font-size: 0.2rem;
      color: #999;
      width: 3.4rem;
      margin: 0 auto;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 1.5rem;
        height: 1px;
        background: #999;
        position: absolute;
        top: 0.15rem;
        left: -1.5rem;
      }
      &::before {
        content: "";
        display: block;
        width: 1.5rem;
        height: 1px;
        background: #999;
        position: absolute;
        top: 0.15rem;
        right: -1.5rem;
      }
    }
    .sdk-list {
      margin-top: 0.3rem;
      margin-bottom: 0.6rem;
      .sdk {
        display: inline-block;
        width: 2rem;
        i {
          display: block;
          font-size: 0.8rem;
        }
        span {
          display: block;
          color: #999;
        }
      }
      .sina {
        color: #ee5c5d;
      }
      .qq {
        color: #1ca4ed;
      }
      .wechat {
        color: #3cd034;
      }
    }
    .regiest {
      margin-bottom: 0.6rem;
      font-size: 0.2rem;
    }
  }
}

.page-user {
  height: 100%;
  .banner {
    padding: 0.8rem 0.3rem 0;
    height: 3rem;
    background: url("../images/banner.png") 100% 100%;
    background-size: contain;
    .user-info {
      height: 1.4rem;
      line-height: 1.4rem;
      &:before {
        float: right;
        color: #fff;
        font-size: 0.5rem;
      }
      .info {
        float: left;
        margin-top: 0.1rem;
        p {
          line-height: 0.6rem;
          color: #fff;
        }
        .user-name {
          font-size: 0.5rem;
        }
        .level-des {
          font-size: 0.3rem;
          .tag {
            display: inline-block;
            height: 0.32rem;
            line-height: 0.32rem;
            width: auto;
            padding: 0 5px;
            font-size: 0.25rem;
            background: #ffd800;
            border-radius: 4px;
          }
        }
      }
      img {
        float: left;
        margin-right: 0.2rem;
        height: 1.2rem;
        width: 1.2rem;
        border: 2px solid #dfe3ff;
        border-radius: 50px;
      }
    }
    .count {
      width: 100%;
      height: 0.7rem;
      clear: both;
      .count-cell {
        float: left;
        color: #fff;
        width: 50%;
        text-align: center;
        line-height: 0.7rem;
        font-size: 0.3rem;
      }
    }
  }
  .menu {
    height: calc(100% - 3rem);
    background: #fafafa;
    padding-bottom: 1rem;
    .main-menu {
      height: 1.4rem;
      background: #fff;
      border-bottom: 1px solid #ededed;
      .main-item {
        float: left;
        width: 50%;
        height: 1.4rem;
        line-height: 1.4rem;
        text-align: center;
        i {
          font-size: 0.4rem;
          margin-right: 0.2rem;
          color: #b5beff;
        }
        span {
          font-size: 0.35rem;
          color: #666;
        }
      }
    }
    .menu-cell {
      display: block;
      height: 0.9rem;
      line-height: 0.9rem;
      padding-left: 0.3rem;
      background-color: #fff;

      &:before {
        float: right;
        color: #999;
        margin-right: 0.3rem;
      }
      .des {
        color: #666;
        &:before {
          margin-right: 0.2rem;
          color: #999;
        }
      }
      .tip {
        float: right;
        color: #999;
        font-size: 0.26rem;
        margin-right: 0.2rem;
      }
    }
    .vip,
    .group,
    .friend-menu {
      margin-bottom: 0.2rem;
      .tag {
        display: inline-block;
        height: 0.45rem;
        line-height: 0.45rem;
        width: auto;
        padding: 1px 5px 0;
        font-size: 0.25rem;
        background: #dc9a0d;
        border-radius: 4px;
        color: #fff;
      }
    }
    .friend-menu {
      .invite {
        position: relative;
        &:after {
          position: absolute;
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: #e4e4e4;
        }
      }
    }
  }
  .tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background: #fff;
    .tab-item {
      float: left;
      width: 25%;
      text-align: center;
      color: #999;
      padding-top: 0.1rem;
      i {
        display: inline-block;
        width: 100%;
        height: 0.3rem;
        line-height: 0.3rem;
      }
    }
    .active {
      color: #b5beff;
    }
  }
}

.page-info {
  background: #fafafa;
  min-height: 100%;
  .info-form {
    .avatar-cell {
      display: block;
      background: #fff;
      height: 1.6rem;
      padding: 0.24rem 0.3rem;
      margin-bottom: 0.2rem;
      img {
        float: left;
        width: 1.12rem;
        height: 1.12rem;
        border-radius: 50px;
      }
      .des {
        float: right;
        position: relative;
        padding-right: 0.35rem;
        line-height: 1.12rem;
        font-size: 0.28rem;
        color: #999;
        &::before {
          position: absolute;
          right: 0;
          color: #999;
        }
      }
      input {
        visibility: hidden;
        height: 1px;
        width: 1px;
      }
    }
    .feild-cell {
      display: block;
      height: 1rem;
      background: #fff;
      padding: 0.3rem 0.3rem;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: calc(100% - 0.3rem);
        height: 1px;
        background: #e4e4e4;
        position: absolute;
        bottom: 0;
      }
      span {
        float: left;
      }
      .input-wrapper {
        position: relative;
        padding-right: 0.35rem;
        &::before {
          position: absolute;
          right: 0;
          color: #999;
        }
        div,
        input,
        select {
          float: right;
          width: 70%;
          height: 0.4rem;
          border: none;
          outline: none;
          text-align: right;
          color: #333;
        }
        #feild-birth {
          width: auto;
        }
        select {
          width: auto;
        }
        div {
          color: #999;
        }
      }
    }
    .no-border {
      &::after {
        background: transparent;
      }
    }
    .sdk-cell {
      margin-top: 0.2rem;
      display: block;
      height: 1rem;
      background: #fff;
      padding: 0.3rem 0.3rem;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: calc(100% - 0.3rem);
        height: 1px;
        background: #e4e4e4;
        position: absolute;
        bottom: 0;
      }
      &:last-child {
        &::after {
          background: transparent;
        }
      }
      span {
        float: left;
      }
      .input-wrapper {
        position: relative;
        padding-right: 0.35rem;
        &::before {
          position: absolute;
          right: 0;
          color: #999;
        }
        div,
        input,
        select {
          float: right;
          width: 70%;
          height: 0.4rem;
          border: none;
          outline: none;
          text-align: right;
          color: #333;
        }
        #feild-birth {
          width: auto;
        }
        select {
          width: auto;
        }
        div {
          color: #999;
        }
        .sdk-list {
          line-height: 0.48rem;
          i {
            margin-right: 0.08rem;
            font-size: 0.45rem;
          }
        }
      }
    }
  }
}

.page-attention,
.page-fans {
  .m-navbar {
    position: fixed;
    width: 100%;
  }
  .list-wrapper {
    padding-top: 0.9rem;
    .list-item {
      height: 1.6rem;
      padding: 0 0.3rem;
      border-bottom: 1px solid #e4e4e4;
      img {
        float: left;
        width: 1.12rem;
        height: 1.12rem;
        border-radius: 1.12rem;
        margin-top: 0.24rem;
      }
      .action {
        float: right;
        width: 0.8rem;
        height: 0.4rem;
        line-height: 0.4rem;
        text-align: center;
        margin-top: 0.6rem;
        border-radius: 4px;
        border: 1px solid #e4e4e4;
        font-size: 0.24rem;
        color: #999;
      }
      .info {
        float: left;
        width: calc(100% - 1.92rem);
        padding: 0.3rem;
        p:last-child {
          margin-top: 0.1rem;
          color: #999;
        }
      }
      .set-foucs {
        border-color: #b5beff;
        color: #b5beff;
      }
    }
  }
}

.page-download {
  .m-navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .list-wrapper {
    padding: 0.2rem 0.3rem 0;
    .list-item {
      width: 3.35rem;
      float: left;
      margin-bottom: 0.2rem;

      &:nth-child(2n) {
        margin-left: 0.2rem;
      }

      &:last-child {
        margin-bottom: 1.2rem;
      }

      .box-wrapper {
        width: 3.35rem;
        height: 2.4rem;
        border: 1px solid #e4e4e4;
        padding: 0.2rem;
        background: #fff;
        .btn-wrapper {
          height: 0.32rem;
          i {
            float: right;
            line-height: 0.38rem;
            display: none;
          }
          .ic-check {
            color: #b5beff;
          }
          .ic-ucheck {
            color: #e4e4e4;
          }
          span {
            display: inline-block;
            width: 1rem;
            height: 0.4rem;
            line-height: 0.4rem;
            text-align: center;
            font-size: 0.1rem;
            border: 1px solid #e4e4e4;
            border-radius: 0.4rem;
            color: #999;
          }
        }
        img {
          margin-top: 0.2rem;
        }
      }
      .action-name {
        margin-top: 0.2rem;
        color: #333;
        font-size: 0.28rem;
      }
      .action-info {
        margin-top: 0.1rem;
        color: #999;
        font-size: 0.2rem;
        &::before {
          margin-right: 0.1rem;
          color: #999;
        }
      }
    }
  }
  .isEditMode {
    .list-item {
      .box-wrapper {
        .btn-wrapper {
          i {
            display: block;
          }
        }
      }
    }
  }
  .del-btn {
    position: fixed;
    display: none;
    bottom: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: #b5beff;
    color: #fff;
    font-size: 0.35rem;
  }
}

.page-post {
  padding-top: 0.9rem;
  .m-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .list-wrapper {
    .list-item {
      position: relative;
      padding: 0.2rem 0.3rem;
      border-bottom: 1px solid #e4e4e4;
      background: #fff;
      .flag {
        display: none;
        position: absolute;
        top: 0.26rem;
        right: 0.4rem;
        color: #b5beff;
        font-size: 0.35rem;
      }
      .ic-ucheck {
        color: #999;
      }
      .info {
        height: 1.12rem;
        .user-info {
          float: left;
          width: calc(100% - 2.12rem);
          margin-left: 0.2rem;
          height: 1.12rem;
          .user-name {
            margin-top: 0.1rem;
            font-size: 0.32rem;
            color: #333;
          }
          .user-level {
            display: inline-block;
            font-size: 0.24rem;
            border-radius: 4px;
            padding: 0 0.15rem;
            background: #ffd800;
            color: #fff;
          }
        }
        img {
          float: left;
          width: 1.12rem;
          height: 1.12rem;
          border-radius: 1.12rem;
        }
        .post-time {
          float: left;
          width: 0.8rem;
          padding-top: 0.6rem;
        }
      }
      .detail {
        margin-top: 0.3rem;
        .title {
          font-size: 0.34rem;
          color: #333;
        }
        .msg {
          font-size: 0.28rem;
          color: #999;
        }
      }
      .imgs {
        margin-top: 0.2rem;
        div {
          display: inline-block;
          width: 3.4rem;
          height: 3.4rem;
          margin-bottom: 0.2rem;
          &:nth-child(2n) {
            margin-left: 0.1rem;
          }
          img {
            margin: 0 auto;
            max-width: 3.4rem;
            height: 3.4rem;
          }
        }
      }
      .more {
        margin-top: 0.2rem;
        .first {
          display: inline-block;
          margin-right: 0.05rem;
          width: 4.55rem;
          height: 4.55rem;
          img {
            margin: 0 auto;
            width: 4.55rem;
            height: 4.55rem;
          }
        }
        .more-box {
          width: 2.22rem;
          float: right;
          div {
            width: 2.22rem;
            height: 2.22rem;
            &:last-child {
              margin-top: 0.12rem;
            }
          }
          .hasMore {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: rgba(0, 0, 0, 0.3);
            }
            span {
              position: absolute;
              display: block;
              width: 2.2rem;
              height: 2.2rem;
              top: 0;
              line-height: 2.2rem;
              text-align: center;
              color: #fff;
              font-size: 0.36rem;
            }
          }
        }
      }
      .count {
        margin-top: 0.2rem;
        text-align: right;
        color: #999;
        span {
          margin-left: 0.2rem;
          &::before {
            margin-right: 0.1rem;
          }
        }
        .ic-heart-active {
          &::before {
            color: red;
          }
        }
      }
      .hidden {
        display: none;
      }
    }
  }
  .isEditMode {
    margin-bottom: 1rem;
    .list-item {
      .imgs,
      .more {
        display: none;
      }
      .flag {
        display: block;
      }
    }
  }
  .del-action {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: #b5beff;
    color: #fff;
    font-size: 0.35rem;
  }
}

.page-rank {
  padding-top: 1.7rem;
  height: 100%;
  .tab-wrapper {
    position: fixed;
    z-index: 9;
    top: 0.9rem;
    height: 0.8rem;
    width: 100%;
    line-height: 0.8rem;
    border-bottom: 1px solid #e4e4e4;
    background: #fff;
    &::after {
      content: "";
      display: block;
      margin-top: calc(0.8rem - 2px);
      margin-left: 0;
      width: 50%;
      height: 2px;
      background: #b5beff;
      transition: margin-left 0.3s ease;
    }

    .tab-cell {
      float: left;
      width: 50%;
      text-align: center;
      color: #333;
      transition: color 0.3s ease;
    }
    .active {
      color: #b5beff;
    }
  }
  .switch::after {
    margin-left: 50%;
  }

  .content-wrapper {
    width: 200%;
    height: 100%;
    transition: transform 0.3s ease;
    .content {
      float: left;
      width: 50%;
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      .item-cell {
        height: 1.6rem;
        padding: 0.24rem 0.3rem;
        border-bottom: 1px solid #e4e4e4;
        img {
          float: left;
          margin-right: 0.2rem;
          width: 1.12rem;
          height: 1.12rem;
          border-radius: 1.12rem;
        }
        .info {
          padding: 0.05rem 0 0.1rem;
          .name {
            color: #333;
            font-size: 0.32rem;
          }
          .time {
            margin-top: 0.05rem;
            color: #999;
            font-size: 0.28rem;
          }
        }
      }
    }
  }
}

.page-level {
  padding-top: 0.9rem;
  .m-navbar {
    z-index: 10;
  }
  .banner {
    position: relative;
    background: #fff;
    width: 100%;
    height: 3rem;
    background: url("../images/level-bg.png") 100% 100%;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 0.3rem;
    .tag {
      color: rgba(255, 255, 255, 0.5);
    }
    .current-level {
      position: absolute;
      top: 1.25rem;
      left: 0.85rem;
    }
    .next-level {
      position: absolute;
      top: 0.02rem;
      right: 0.34rem;
    }
    img {
      width: 1.12rem;
      height: 1.12rem;
      border-radius: 1.12rem;
      margin: 0 auto;
      border: 2px solid #beeebd;
    }
    p {
      position: relative;
      margin-top: 0.18rem;
      color: #fff;
      font-size: 0.34rem;
    }
    .label {
      position: absolute;
      margin-top: 0.08rem;
      margin-left: 0.2rem;
      font-size: 0.2rem;
      font-size: 0.24rem;
      border-radius: 4px;
      background-color: #ffd800;
      padding: 0 0.1rem;
    }
    .progress-wrapper {
      width: 4rem;
      margin: 0.1rem auto 0;
      text-align: left;
      .progress-bg {
        border-radius: 0.1rem;
        height: 0.1rem;
        width: 100%;
        background: linear-gradient(to right, #ffd800, #fff3af);
        .progress-bar {
          float: right;
          border-top-right-radius: 0.1rem;
          border-bottom-right-radius: 0.1rem;
          background: #b0eaad;
          height: 0.1rem;
        }
      }
      span {
        color: #fff;
        font-size: 0.2rem;
      }
      .val {
        float: right;
        margin-top: 0.03rem;
      }
    }
  }
  .privilege {
    background: #fff;
    .title {
      &::before {
        float: right;
        line-height: 0.8rem;
        margin-right: 0.3rem;
        color: #80e392;
      }
      &::after {
        content: "";
        display: block;
        float: right;
        width: calc(100% - 0.3rem);
        height: 1px;
        background: #e4e4e4;
      }
      span {
        font-size: 0.24rem;
        line-height: 0.8rem;
        &:last-child {
          float: right;
          margin-right: 0.15rem;
          color: #80e392;
        }
        &:first-child {
          color: #333;
          margin-left: 0.3rem;
          &::before {
            content: "";
            display: inline-block;
            width: 0.2rem;
            height: 0.2rem;
            border-radius: 0.2rem;
            background: #ffd800;
            margin-right: 0.2rem;
            line-height: 0.8rem;
          }
        }
      }
    }
    .privilege-list {
      height: 3rem;
      .item {
        float: left;
        width: 25%;
        text-align: center;
        padding: 0.35rem 0;
        i {
          font-size: 0.8rem;
          color: #7cdb7a;
        }
        p {
          font-size: 0.28rem;
        }
        span {
          font-size: 0.24rem;
          color: #80e392;
        }
      }
    }
  }
  .raiders {
    background: #fff;
    margin-top: 0.2rem;
    .title {
      &::after {
        content: "";
        display: block;
        float: right;
        width: calc(100% - 0.3rem);
        height: 1px;
        background: #e4e4e4;
      }
      span {
        font-size: 0.24rem;
        line-height: 0.8rem;
        color: #333;
        margin-left: 0.3rem;
        &::before {
          content: "";
          display: inline-block;
          width: 0.2rem;
          height: 0.2rem;
          border-radius: 0.2rem;
          background: #ffd800;
          margin-right: 0.2rem;
          line-height: 0.8rem;
        }
      }
    }
    .table {
      padding: 0 0.3rem;
      p {
        margin: 0.2rem 0.3rem;
        font-size: 0.28rem;
        color: #999;
      }
      .table-detail {
        width: 100%;
        border: 1px solid #e4e4e4;
        border-bottom: none;
        line-height: 0.8rem;
        thead {
          background: #f2f2f2;
          border-bottom: 1px solid #e4e4e4;
          th {
            height: 0.8rem;
            line-height: 0.8rem;
            font-size: 0.28rem;
            border-right: 1px solid #e4e4e4;
            &:last-child {
              border-right: none;
            }
          }
        }
        tbody {
          text-align: center;
          tr {
            td {
              border-bottom: 1px solid #e4e4e4;
              border-right: 1px solid #e4e4e4;
              &:last-child {
                border-right: none;
              }
            }
          }
        }
      }
    }
  }
  .tip-wrapper {
    padding: 0.3rem;
    background: #fff;
    .tip {
      color: #999;
      font-size: 0.2rem;
    }
  }
}

.page-grow {
  .list {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    .item {
      width: 100%;
      height: 1.4rem;
      padding-left: 0.3rem;
      border-bottom: 1px solid #e4e4e4;
      &:last-child {
        border-bottom: none;
      }
      .result {
        float: left;
        line-height: 1.4rem;
        font-size: 0.36rem;
        color: #5fdc76;
        margin-right: 0.5rem;
      }
      .info {
        padding: 0.24rem 0;
        p {
          &:first-child {
            font-size: 0.32rem;
            color: #333;
          }
          &:last-child {
            font-size: 0.32rem;
            color: #999;
          }
        }
      }
    }
  }
}

.page-level-info {
  height: 100%;
  .content-wrapper {
    height: 100%;
    .side-menu {
      width: 2rem;
      height: 100%;
      float: left;
      border-right: 1px solid #e4e4e4;
      background: #f2f2f2;
      .menu-item {
        text-align: center;
        padding: 0.3rem 0;
        border-bottom: 1px solid #e4e4e4;
        .level {
          font-size: 0.6rem;
          line-height: 0.6rem;
        }
        .des {
          font-size: 0.28rem;
          line-height: 0.3rem;
        }
      }
      .active {
        background: #fff;
        color: #7cdb7a;
      }
    }
    .content {
      height: 100%;
      background: #fff;
      .inner-wrapper {
        padding-left: 2.3rem;
        span,
        p {
          display: block;
          line-height: 0.8rem;
          color: #999;
          font-size: 0.24rem;
          border-bottom: 1px solid #e4e4e4;
        }
        p {
          border-bottom: none;
        }
      }
      .list {
        padding-left: 2rem;
        .item {
          float: left;
          width: 33%;
          text-align: center;
          margin-bottom: 0.3rem;
          .iconfont {
            font-size: 0.8rem;
            color: #7cdb7a;
          }
          .des {
            font-size: 0.28rem;
            margin-bottom: 0.08rem;
          }
          .val {
            font-size: 0.24rem;
            line-height: 0.24rem;
            color: #80e392;
          }
        }
      }
    }
  }
}

.page-vip-info {
  padding-top: 0;
  position: relative;
  height: 100%;
  padding-bottom: 6rem;
  .m-header-bar {
    height: 3rem;
    padding-top: 0.9rem;
    text-align: center;
    background: url("../images/vip-bg.png") 100% 100%;
    background-size: contain;
    img {
      margin: 0 auto;
      width: 1.12rem;
      height: 1.12rem;
      border-radius: 1.12rem;
    }
    .user-name {
      font-size: 0.36rem;
      color: #333;
      margin-top: 0.12rem;
    }
  }
  .swiper-wrapper {
    background: #fff;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    p {
      padding: 0.2rem 0.3rem;
      font-size: 0.28rem;
      color: #333;
      &::before {
        content: "";
        display: inline-block;
        width: 0.15rem;
        height: 0.15rem;
        border-radius: 0.15rem;
        background: #ffd800;
        margin-right: 0.2rem;
      }
    }
    .swiper {
      width: 100%;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .list {
        width: auto;
        white-space: nowrap;
        img {
          display: inline-block;
          width: 1.8rem;
          height: 2.2rem;
          margin-right: 0.2rem;
          &:first-child {
            margin-left: 0.3rem;
          }
          &:last-child {
            margin-right: 0.3rem;
          }
        }
      }
    }
    .anchors {
      text-align: center;
      margin-top: 0.1rem;
      span {
        font-size: 0.1rem;
        color: #e4e4e4;
        margin-left: 0.1rem;
      }
      .active {
        color: #dc9a0d;
      }
    }
  }
  .price-tag {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #fff;
    padding-bottom: 0.2rem;
    p {
      padding: 0.2rem 0.3rem;
      font-size: 0.28rem;
      color: #333;
      &::before {
        content: "";
        display: inline-block;
        width: 0.15rem;
        height: 0.15rem;
        border-radius: 0.15rem;
        background: #ffd800;
        margin-right: 0.2rem;
      }
    }
    .tip {
      margin-top: 0.2rem;
      color: #999;
      font-size: 0.1rem;
      margin-left: 0.3rem;
    }
    .tag {
      height: 1.2rem;
      border-radius: 1.2rem;
      border: 2px solid #dc9a0d;
      margin: 0 0.3rem 0.3rem;
      padding: 0.1rem 0.5rem;
      .type {
        font-size: 0.32rem;
        color: #333;
      }
      .price {
        float: right;
        margin-left: 0.2rem;
        color: #dc9a0d;
      }
      .old {
        color: #999;
        text-decoration: line-through;
      }
      .des {
        color: #dc9a0d;
      }
      .buy-btn {
        float: right;
        display: block;
        border-radius: 0.3rem;
        color: #fff;
        background: #dc9a0d;
        padding: 0.03rem 0.2rem;
        font-size: 0.2rem;
      }
    }
  }
}

.page-buy {
  position: relative;
  height: 100%;
  .order-info {
    background: #fff;
    padding-left: 0.3rem;
    .order-name {
      color: #333;
      font-size: 0.24rem;
      line-height: 0.8rem;
      border-bottom: 1px solid #e4e4e4;
    }
    .detail {
      line-height: 0.8rem;
      font-size: 0.24rem;
      .old-price {
        float: right;
        margin-right: 0.3rem;
        color: #dc9a0d;
        font-size: 0.28rem;
      }
    }
  }
  .order-action {
    position: absolute;
    background: #fff;
    bottom: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    padding-left: 0.3rem;
    font-size: 0.28rem;
    span {
      color: #dc9a0d;
      margin-left: 0.2rem;
      font-size: 0.32rem;
    }
    a {
      float: right;
      width: 2.4rem;
      text-align: center;
      background: #b5beff;
      color: #fff;
      font-size: 0.28rem;
    }
  }
}

.page-circle {
  padding-top: 0;
  height: 100%;
  overflow-x: hidden;

  .circle-header {
    height: 0.88rem;
    line-height: 0.88rem;
    background: #fff;
    border-bottom: 1px solid #e3e3e3e3;
    .fl-btn {
      float: left;
      width: 1rem;
      height: 100%;
      text-align: center;
      i {
        font-size: 0.34rem;
      }
    }
    .fr-btn {
      float: right;
      width: 1rem;
      text-align: center;
      i {
        font-size: 0.34rem;
      }
    }
    .tab-content {
      display: inline-block;
      width: calc(100% - 2rem);
      text-align: center;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 1.36rem;
        height: 2px;
        background: #b5beff;
        left: 0.6rem;
        bottom: 0;
        transition: left 0.3s ease;
      }
      span {
        display: inline-block;
        height: 100%;
        padding: 0 0.4rem;
        font-size: 0.28rem;
        color: #666;
        transition: color 0.3s ease;
      }
    }
    .tab-content[data-current-tab="0"] {
      &::after {
        left: 0.6rem;
      }
      span:nth-child(1) {
        color: #b5beff;
      }
    }
    .tab-content[data-current-tab="1"] {
      &::after {
        left: 2.05rem;
      }
      span:nth-child(2) {
        color: #b5beff;
      }
    }
    .tab-content[data-current-tab="2"] {
      &::after {
        left: 3.5rem;
      }
      span:nth-child(3) {
        color: #b5beff;
      }
    }
  }

  .content-wrapper {
    width: 300%;
    height: calc(100% - 0.88rem);
    overflow-x: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease;
    .content {
      float: left;
      width: calc(100% / 3);
      height: 100%;
      background: #fafafa;
      overflow: hidden;
    }

    .content-featured {
      .search-btn {
        margin: 0.15rem 0.3rem;
        border: 1px solid #e4e4e4;
        border-radius: 4px;
        text-align: center;
        background: #fff;
        color: #999;
      }
      .inner-content {
        overflow: scroll;
        height: calc(100% - 0.85rem);
        img {
          width: 100%;
        }
        .topic-box {
          background: #fff;
          padding: 0 0.3rem 0.2rem;
          margin-bottom: 0.2rem;
          p {
            height: 0.8rem;
            line-height: 0.8rem;
            color: #666;
            .ic-host {
              margin-right: 0.1rem;
            }
            .ic-right {
              float: right;
            }
          }
          .list-wrapper {
            width: 100%;
            overflow: auto;
            .list {
              width: auto;
              white-space: nowrap;
              .topic-item {
                display: inline-block;
                width: 2.6rem;
                height: 1.6rem;
                margin-right: 0.2rem;
                position: relative;
                &:last-child {
                  margin-right: 0;
                }

                img {
                  width: 100%;
                  height: 100%;
                }
                p {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  line-height: 1.6rem;
                  background: rgba(0, 0, 0, 0.4);
                  color: #fff;
                  font-size: 0.18rem;
                  text-align: center;
                }
              }
            }
          }
        }
        .list-box {
          background: #fff;
          padding: 0 0.3rem 0.2rem;
          margin-bottom: 0.2rem;
          p {
            height: 0.8rem;
            line-height: 0.8rem;
            color: #666;
            .ic-diamond {
              margin-right: 0.1rem;
            }
            .ic-right {
              float: right;
            }
          }
          .list {
            .list-item {
              display: inline-block;
              width: calc((100% - 0.2rem) / 2);
              &:nth-child(2n-1) {
                margin-right: 0.1rem;
              }
              img {
                width: 3.35rem;
                height: 3.4rem;
              }
              p {
                font-size: 0.24rem;
                img {
                  display: inline-block;
                  width: 0.5rem;
                  height: 0.5rem;
                  border-radius: 0.5rem;
                  margin-right: 0.15rem;
                }
              }
              .des {
                max-height: 0.8rem;
                line-height: 0.4rem;
                font-size: 0.28rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }

    .current-post,.focus-post {
      .list-wrapper {
        height: 100%;
        overflow: auto;

        .list-item {
          position: relative;
          padding: 0.2rem 0.3rem;
          margin-bottom: .2rem;
          background: #fff;
          .flag {
            display: none;
            position: absolute;
            top: 0.26rem;
            right: 0.4rem;
            color: #b5beff;
            font-size: 0.35rem;
          }
          .ic-ucheck {
            color: #999;
          }
          .info {
            height: 1.12rem;
            .user-info {
              float: left;
              width: calc(100% - 2.12rem);
              margin-left: 0.2rem;
              height: 1.12rem;
              line-height: 1.12rem;
              .user-name {
                margin-top: 0.1rem;
                font-size: 0.32rem;
                color: #333;
                margin-right: .15rem;
              }
              .user-level {
                font-size: 0.24rem;
                border-radius: 4px;
                padding: .05rem 0.15rem;
                background: #ffd800;
                color: #fff;
              }
            }
            img {
              float: left;
              width: 1.12rem;
              height: 1.12rem;
              border-radius: 1.12rem;
            }
            .post-time {
              float: left;
              width: 0.8rem;
              padding-top: 0.3rem;
            }
          }
          .detail {
            margin-top: 0.3rem;
            .title {
              font-size: 0.34rem;
              color: #333;
            }
            .msg {
              font-size: 0.28rem;
              color: #999;
            }
          }
          .imgs {
            margin-top: 0.2rem;
            div {
              display: inline-block;
              width: 3.4rem;
              height: 3.4rem;
              margin-bottom: 0.2rem;
              &:nth-child(2n) {
                margin-left: 0.1rem;
              }
              img {
                margin: 0 auto;
                max-width: 3.4rem;
                height: 3.4rem;
              }
            }
          }
          .more {
            margin-top: 0.2rem;
            .first {
              display: inline-block;
              margin-right: 0.05rem;
              width: 4.55rem;
              height: 4.55rem;
              img {
                margin: 0 auto;
                width: 4.55rem;
                height: 4.55rem;
              }
            }
            .more-box {
              width: 2.22rem;
              float: right;
              div {
                width: 2.22rem;
                height: 2.22rem;
                &:last-child {
                  margin-top: 0.12rem;
                }
              }
              .hasMore {
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background: rgba(0, 0, 0, 0.3);
                }
                span {
                  position: absolute;
                  display: block;
                  width: 2.2rem;
                  height: 2.2rem;
                  top: 0;
                  line-height: 2.2rem;
                  text-align: center;
                  color: #fff;
                  font-size: 0.36rem;
                }
              }
            }
          }
          .count {
            margin-top: 0.2rem;
            text-align: right;
            color: #999;
            span {
              margin-left: 0.2rem;
              &::before {
                margin-right: 0.1rem;
              }
            }
            .ic-heart-active {
              &::before {
                color: red;
              }
            }
          }
          .hidden {
            display: none;
          }
        }
      }
    }
  }
  .content-wrapper[data-current-content="0"] {
    transform: translateX(0);
  }
  .content-wrapper[data-current-content="1"] {
    transform: translateX(calc(-100% / 3));
  }
  .content-wrapper[data-current-content="2"] {
    transform: translateX(calc(-100% / 3 * 2));
  }

  .new-btn {
    position: fixed;
    bottom: 0.7rem;
    right: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1.2rem;
    background: #b5beff;
    text-align: center;
    line-height: 1.2rem;
    color: #fff;
    i {
      font-size: 0.55rem;
    }
  }
}

.page-search{
  padding-top: 1.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  .search-warpper{
    position: fixed;
    top: 0;
    height: 1.25rem;
    width: 100%;
    padding: .5rem .3rem .15rem;
    background-color: #f7f7f7;
    display: flex;
    line-height: .6rem;
    border-bottom: 1px solid #e4e4e4;
    .search-box{
      flex: 1;
      height: .6rem;
      margin-right: .2rem;
      padding: 0 .3rem;
      line-height: .58rem;
      border-radius: 4px;
      border: 1px solid #e4e4e4;
      background: #fff;
      display: flex;
      i{
        color: #999;
        margin-right: .2rem;
      }
      #search-input{
        border: none;
        outline: none;
        flex: 1;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #999;
        }
      }
    }
    .search-btn{
      color: #666;
      font-size: .28rem;
    }
  }
  .search-default{
    overflow: auto;
    padding: .4rem .3rem .2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    .search-history{
      margin-bottom: .3rem;
      p{
        color: #999;
        font-size: .26rem;
        i{
          float: right;
          color: #999;
        }
      }
      .history-box{
        display: flex;
        flex-wrap: wrap;
        margin-top: .2rem;
        span{
          border-radius: 2px;
          border: 1px solid #e4e4e4;
          padding: .05rem .2rem;
          margin-right: .2rem;
          color: #b5beff;
          font-size: .26rem;
        }
      }
    }
    .search-hot{
      flex: 1;
      p{
        color: #999;
        font-size: .26rem;
      }
      .hot-box{
        display: flex;
        flex-wrap: wrap;
        .hot-item{
          width: 50%;
          height: .88rem;
          line-height: .88rem;
          font-size: .32rem;
          color: #666;
          border-bottom: 1px solid #e4e4e4;
        }
        .hot{
          &::after{
            content: "荐";
            padding: .04rem .07rem;
            background-color: #ff8a00;
            font-size: .12rem;
            border-radius: 4px;
            color: #fff;
            margin-left: .2rem;
          }
        }
      }
    }
  }
  .search-result{
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: .3rem;
    .result-box{
      border-bottom: 1px solid #e4e4e4;
      p{
        padding-left: .3rem;
        height: .6rem;
        line-height: .6rem;
        font-size: .26rem;
        background: #f7f7f7;
        color: #666;
      }
      .list{
        padding-left: .3rem;
        border-bottom: 1px solid #e4e4e4;
        background: #fff;
        .post-item{
          width: 100%;
          height: 1.8rem;
          padding: .08rem .3rem .08rem 0;
          border-bottom: 1px solid #e4e4e4;
          .post-info{
            display: inline-block;
            width: calc(100% - 2rem);
            p{
              background-color: #fff;
              padding-left: 0;
            }
            .title{
              font-size: .32rem;
              color: #333;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .des{
              font-size: .26rem;
              height: .5rem;
              line-height: .5rem;
              color: #999;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .info{
              font-size: .28rem;
              img{
                float: left;
                width: .5rem;
                height: .5rem;
                border-radius: .5rem;
                margin-right: .2rem;
              }
            }
          }
          img{
            width: 2rem;
            height: 1.4rem;
            float: right;
          }

          &:last-child{
            border-bottom: none;
          }
        }
        .user-item{
          padding: 0 .3rem;
          height: 1.2rem;
          line-height: 1.2rem;
          font-size: .30rem;
          border-bottom: 1px solid #e4e4e4;
          &:last-child{
            border-bottom: none;
          }
          img{
            float: left;
            width: .9rem;
            height: .9rem;
            border-radius: .9rem;
            margin-top: .15rem;
            margin-right: .3rem;
          }
        }
        .video-item{
          height: 2rem;
          padding: .2rem 0;
          border-bottom: 1px solid #e4e4e4;
          &:last-child{
            border-bottom: none;
          }
          img{
            float: left;
            width: 2.4rem;
            height: 1.6rem;
          }
          p{
            background: #fff;
          }
          .title{
            margin-top: .2rem;
            font-size: .32rem;
          }
          .info{
            color: #999;
            font-size: .3rem;
          }
        }
      }
      .more{
        padding: 0 .3rem;
        height: .8rem;
        font-size: .28rem;
        line-height: .8rem;
        background: #fff;
        i{
          float: right;
          font-size: .28rem;
        }
      }
    }
  }
}

.page-post-detail{
  height: 100%;
  .m-navbar{
    .navbar-item{
      i{
        font-size: .34rem;
        color: #666;
      }
    }
  }
  .content{
    height: 100%;
    overflow: auto;
    padding-bottom: 1rem;
    .post-info{
      padding: 0 0 .2rem;
      .auther-info{
        height: 1.2rem;
        padding: .2rem .3rem;
        img{
          float: left;
          width: .9rem;
          height: .9rem;
          border-radius: .9rem;
          margin-right: .2rem;
        }
        .user-name{
          margin-top: .1rem;
          font-size: .28rem;
          .level{
            padding: .02rem .1rem;
            background: #ffd800;
            color: #fff;
            border-radius: 3px;
            margin-left: .2rem;
            font-size: .26rem;
          }
        }
        .date{
          color: #999;
        }
      }
      .post-content{
        padding: 0 .3rem .3rem;
        border-bottom: 1px solid #e4e4e4;
        .post-title{
          font-size: .36rem;
          text-align: center;
          height: .5rem;
          line-height: .4rem;
        }
        .post-article{
          font-size: .28rem;
          color: #666
        }
        img{
          width: 100%;
          margin-top: .2rem;
        }
      }
    }
    .post-comment{
      display: flex;
      flex-direction: column;
      .comment-item{
        border-bottom: 1px solid #e4e4e4;
        .user-info{
          height: 1.2rem;
          padding: .2rem .3rem;
          img{
            float: left;
            width: .9rem;
            height: .9rem;
            border-radius: .9rem;
            margin-right: .2rem;
          }
          .user-name{
            margin-top: .1rem;
            font-size: .28rem;
            .level{
              padding: .02rem .1rem;
              background: #ffd800;
              color: #fff;
              border-radius: 3px;
              margin-left: .2rem;
              font-size: .26rem;
            }
            .floor{
              float: right;
              color: #999;
              font-size: .26rem;
            }
          }
          .date{
            color: #999;
          } 
        }
        .comment-detail{
          margin-top: .2rem;
          padding-left: .5rem;
          font-size: .32rem;
          margin-bottom: .2rem;
        }
      }
    }
    
  }
  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background-color: #f5f5f5;
    border-top: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    padding: 0 .3rem;
    .comment-box{
      flex: 1;
      height: .8rem;
      margin-right: .2rem;
      padding: 0 .1rem;
      line-height: .8rem;
      border-radius: 4px;
      border: 1px solid #e4e4e4;
      background: #fff;
      display: flex;
      i{
        color: #999;
        margin-right: .2rem;
      }
      #comment-input{
        border: none;
        outline: none;
        flex: 1;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #999;
        }
      }
    }
    .ic-heart{
      color: #666;
      margin-right: .2rem;
      &::before{
        font-size: .32rem;
        margin-right: .1rem;
      }
    }
    .ic-star{
      color: #666;
      &::before{
        font-size: .32rem;
        margin-right: .1rem;
      }
    }
    .ic-emoj{
      font-size: .44rem;
      margin-right: .2rem;
      &::before{
        color: #999;
      }
    }
    .send-btn{
      padding: .05rem .15rem;
      background: #b5beff;
      border-radius: 4px;
      color: #fff;
      &:active{
        background: rgba(181,190,255, .8);
      }
    }
  }
}

.page-publish-post{
  padding-top: 1.25rem;
  background-color: #f5f5f5;
  height: 100%;
  .m-navbar{
    background: #f5f5f5;
    padding-top: .35rem;
    height: 1.25rem;
  }
  .content{
    padding-bottom: 1rem;
    height: 100%;
    .post-detail{
      background: #fff;
      margin-bottom: .2rem;
      .detail{
        padding-left: .3rem;
        border-bottom: 1px solid #e4e4e4;
        .input-title{
          display: block;
          height: .8rem;
          line-height: .8rem;
          border-bottom: 1px solid #e4e4e4;
          #post-title{
            width: 100%;
            outline: none;
            border: none;
          }
        }
        .textarea-info{
          display: block;
          padding: .1rem .2rem .1rem 0;
          #post-info{
            width: 100%;
            border: none;
            outline: none;
            resize: none;
          }
        }
      }
      .topic{
        height: .8rem;
        line-height: .8rem;
        padding-left: .3rem;
        span{
          font-size: .28rem;
          margin-right: .2rem;
          color: #b5beff;
        }
      }
    }
    .post-imgs{
      min-height: 5rem;
      background: #fff;
      padding: .3rem;
      display: flex;
      flex-wrap: wrap;
      .item{
        width: calc(100 / 4);
        margin-bottom: .15rem;
        padding-right: .12rem;
        img{
          max-width: 1.6rem;
          height: 1.6rem;
        }
      }
      .add-btn{
        i{
          background: #f1f1f1;
          display: block;
          width: 1.6rem;
          height: 1.6rem;
          text-align: center;
          line-height: 1.6rem;
          font-size: 1rem;
          color: #999;
        }
      }
    }
  }
  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    background: #b5beff;
  }
  .disabled{
    background: #ccc;
  }
}

.page-topic{
  padding-top: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  .m-navbar{
    height: 1.25rem;
    background-color: rgba(255,255,255,.98);
    transition: background-color .5s ease;
    &::after{
      border-color: rgba(178, 178, 178, 1);
      transition: border-color .5s ease;
    }
    .navbar-center{
      margin-top: .35rem;
      .navbar-title{
        color: rgba(92,92,92, 1);
        transition: color .5s ease;
      }
    }
    .navbar-item{
      margin-top: .35rem;
    }
  }
  .hidden{
    background-color:rgba(255,255,255,0);
    &::after{
      border-color: rgba(178, 178, 178, 0);
    } 
    .navbar-center{
      .navbar-title{
        color: rgba(92,92,92, 0);
      }
    }
  }
  .topic-bg{
    position: relative;
    img{
      height: 3.8rem;
    }
    .topic-info{
      position: absolute;
      width: 100%;
      padding: 0 .3rem;
      bottom: .15rem;
      left: 0;
      color: #fff;
      font-size: .26rem;
      display: flex;
      justify-content: space-between;
    }
  }
  .topic-des{
    padding: .3rem;
    background: #fff;
    color: #666;
  }
  .content{
    margin-top: .2rem;
    background: #fff;
    height: 100%;
    overflow: hidden;
    .tab-container{
      position: relative;
      height: .8rem;
      line-height: .8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      .tab-item{
        width: 50%;
        text-align: center;
        color: #666;
        font-size: .26rem;
        transition: color .3s ease;
      }
      .active{
        color: #b5beff;
      }
      .base-line{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 2px;
        background: #b5beff;
        transition: left .3s ease;
      }
    }
    .to-fixed{
      position: fixed;
      top: 1.25rem;
      width: 100%;
      z-index: 99;
    }

    .list-container{
      width: 200%;
      height: 100%;
      display: flex;
      transform: translateX(0%);
      transition: transform .3s ease;
      .list{
        height: 100%;
        width: 50%;
        padding-bottom: 1rem;
        overflow-y: hidden;
        .list-item {
          position: relative;
          padding: 0.2rem 0.3rem;
          border-bottom: 1px solid #e4e4e4;
          background: #fff;
          .flag {
            display: none;
            position: absolute;
            top: 0.26rem;
            right: 0.4rem;
            color: #b5beff;
            font-size: 0.35rem;
          }
          .ic-ucheck {
            color: #999;
          }
          .info {
            height: 1.12rem;
            .user-info {
              float: left;
              width: calc(100% - 2.12rem);
              margin-left: 0.2rem;
              height: 1.12rem;
              .user-name {
                margin-top: 0.1rem;
                font-size: 0.32rem;
                color: #333;
              }
              .user-level {
                display: inline-block;
                font-size: 0.24rem;
                border-radius: 4px;
                padding: 0 0.15rem;
                background: #ffd800;
                color: #fff;
              }
            }
            img {
              float: left;
              width: 1.12rem;
              height: 1.12rem;
              border-radius: 1.12rem;
            }
            .post-time {
              float: left;
              width: 0.8rem;
              padding-top: 0.4rem;
            }
          }
          .detail {
            margin-top: 0.3rem;
            .title {
              font-size: 0.34rem;
              color: #333;
            }
            .msg {
              font-size: 0.28rem;
              color: #999;
            }
          }
          .imgs {
            margin-top: 0.2rem;
            display: flex;
            justify-content: space-around;
            .img-item {
              display: inline-block;
              width: 2.2rem;
              height: 2.2rem;
              margin-bottom: 0.2rem;
              position: relative;
              img {
                margin: 0 auto;
                max-width: 100%;
                height: 100%;
              }
            }
            .more{
              &::after{
                content: attr(data-count);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 2.2rem;
                background: rgba(0, 0, 0, .3);
                color: #fff;
                font-size: .26rem;
              }
            }
          }

          .count {
            margin-top: 0.2rem;
            text-align: right;
            color: #999;
            span {
              margin-left: 0.2rem;
              &::before {
                margin-right: 0.1rem;
              }
            }
            .ic-heart-active {
              &::before {
                color: red;
              }
            }
          }
          .hidden {
            display: none;
          }
        }
      }
    }
  }
  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    background: #b5beff;
  }
}
