// page

.page{
    padding-top: .9rem;
    .m-navbar{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
}

.page-login,.page-register{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    background: url('../images/login-bg.png') 100% 100%;

    .avatar-wrapper{
        height: 2.6rem;
        padding-top: .8rem;
        text-align: center;
        .inner-wrapper{
            width: 1.6rem;
            height: 100%;
            margin: 0 auto;
            .avatar-holder{
                position: relative;
                width: 1.6rem;
                height: 1.6rem;
                margin: 0 auto;
                border-radius: 50px;
                &::before{
                    position: absolute;
                    font-size: .4rem;
                    bottom: -.1rem;
                    right: -.1rem;
                    color: #b5beff;
                }
                img{
                    width: 1.6rem;
                    height: 1.6rem;
                    border-radius: 50px;
                }
            }
            input{
                visibility: hidden;
                height: 1px;
                width: 1px;
            }
        }
    }
    .logo-wrapper{
        width: 100%;
        height: 3.8rem;
        padding-top: 1.8rem;
        img{
            width: 2rem;
            height: 2rem;
            margin: 0 auto;
        }
    }
    .register-feild {
        margin-top: 2.2rem;
    }
    .feild-wrapper{
        padding: 0 .5rem;
        line-height: 1rem;
        .input-feild{
            display: block;
            margin-top: .2rem;
            &::before{
                color: #999;
                font-size: .4rem;
            }
            input{
                float: right;
                width: calc(100% - .8rem);
                margin-left: .2rem;
                outline: none;
                border: none;
                font-size: .28rem;
                margin-top: .35rem;
            }
            &::after{
                content: "";
                display: block;
                float: right;
                width: calc(100% - .7rem);
                height: 1px;
                background: #e4e4e4;
            }
        }
        .verification-code{
            input{
                width: calc(100% - 3rem);
                margin: 0 0 0 .3rem;
                float: none;
            }
            .veri-btn{
                float: right;
                margin-top: .2rem;
                border: 1px solid #dedede;
                width: 1.8rem;
                height: .6rem;
                line-height: .6rem;
                font-size: .28rem;
                color: #999;
                text-align: center;
                border-radius: 4px;
            }
        }
    }
    .tip{
        font-size: .12rem;
        color: #999;
        text-align: center;
        margin-top: .2rem;
    }
    .login-btn{
        margin: .8rem auto 4rem !important;
    }
    .login-btn, .next-btn{
        display: block;
        width: 6.5rem;
        height: .88rem;
        background: #b5beff;
        border-radius: 50px;
        margin: .8rem auto 0;
        line-height: .88rem;
        text-align: center;
        color: #fff;
        font-size: .32rem;
        &:active{
            background: #b0b0ff;
        }
    }
    .sdk-login{
        position: absolute;
        bottom: 0;
        text-align: center;
        display: block;
        width: 100%;
        .dividing-line{
            font-size: .2rem;
            color: #999;
            width: 3.4rem;
            margin: 0 auto;
            position: relative;
            &::after{
                content: "";
                display: block;
                width: 1.5rem;
                height: 1px;
                background: #999;
                position: absolute;
                top: .15rem;
                left: -1.5rem;
            }
            &::before{
                content: "";
                display: block;
                width: 1.5rem;
                height: 1px;
                background: #999;
                position: absolute;
                top: .15rem;
                right: -1.5rem;
            }
        }
        .sdk-list{
            margin-top: .3rem;
            margin-bottom: .6rem;
            .sdk{
                display: inline-block;
                width: 2rem;
                i{
                    display: block;
                    font-size: .8rem;
                }
                span{
                    display: block;
                    color: #999;
                }
            }
            .sina{
                color: #ee5c5d;
            }
            .qq{
                color: #1ca4ed;
            }
            .wechat{
                color: #3cd034;
            }
        }
        .regiest{
            margin-bottom: .6rem;
            font-size: .2rem;
        }
    }
}

.page-user{
    height: 100%;
    .banner{
        padding: .8rem .3rem 0;
        height: 3rem;
        background: url('../images/banner.png') 100% 100%;
        background-size: contain;
        .user-info{
            height: 1.4rem;
            line-height: 1.4rem;
            &:before{
                float: right;
                color: #fff;
                font-size: .5rem;
            }
            .info{
                float: left;
                margin-top: .1rem;
                p{
                    line-height: .6rem;
                    color: #fff;
                }
                .user-name{
                    font-size: .5rem;
                }
                .level-des{
                    font-size: .3rem;
                    .tag{
                        display: inline-block;
                        height: .32rem;
                        line-height: .32rem;
                        width: auto;
                        padding: 0 5px;
                        font-size: .25rem;
                        background: #ffd800;
                        border-radius: 4px;
                    }
                }
            }
            img{
                float: left;
                margin-right: .2rem;
                height: 1.2rem;
                width: 1.2rem;
                border: 2px solid #dfe3ff;
                border-radius: 50px;
            }
        }
        .count{
            width: 100%;
            height: .7rem;
            clear: both;
            .count-cell{
                float: left;
                color: #fff;
                width: 50%;
                text-align: center;
                line-height: .7rem;
                font-size: .3rem;
            }
        }
    }
    .menu{
        height: calc(100% - 3rem);
        background: #fafafa;
        padding-bottom: 1rem;
        .main-menu{
            height: 1.4rem;
            background: #fff;
            border-bottom: 1px solid #ededed;
            .main-item{
                float: left;
                width: 50%;
                height: 1.4rem;
                line-height: 1.4rem;
                text-align: center;
                i{
                    font-size: .4rem;
                    margin-right: .2rem;
                    color: #b5beff;
                }
                span{
                    font-size: .35rem;
                    color: #666;
                }
            }
            
        }
        .menu-cell{
            display: block;
            height: .9rem;
            line-height: .9rem;
            padding-left: .3rem;
            background-color: #fff;

            &:before{
                float: right;
                color: #999;
                margin-right: .3rem
            }
            .des{
                color: #666;
                &:before{
                    margin-right: .2rem;
                    color: #999;
                }
            }
            .tip{
                float: right;
                color: #999;
                font-size: .26rem;
                margin-right: .2rem;
            }
        }
        .vip,.group,.friend-menu{
            margin-bottom: .2rem;
            .tag{
                display: inline-block;
                height: .45rem;
                line-height: .45rem;
                width: auto;
                padding: 1px 5px 0;
                font-size: .25rem;
                background: #dc9a0d;
                border-radius: 4px;
                color: #fff;
            }
        }
        .friend-menu{
            .invite{
                position: relative;
                &:after{
                    position: absolute;
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #e4e4e4;
                }
            }
        }
    }
    .tab-bar{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 1rem;
        background: #fff;
        .tab-item{
            float: left;
            width: 25%;
            text-align: center;
            color: #999;
            padding-top: .1rem;
            i{
                display: inline-block;
                width: 100%;
                height: .3rem;
                line-height: .3rem;
            }
        }
        .active{
            color: #b5beff;
        }
    }
}

.page-info{
    background: #fafafa;
    min-height: 100%;
    .info-form{
        .avatar-cell{
            display: block;
            background: #fff;
            height: 1.6rem;
            padding: .24rem .3rem;
            margin-bottom: .2rem;
            img{
                float: left;
                width: 1.12rem;
                height: 1.12rem;
                border-radius: 50px;
            }
            .des{
                float: right;
                position: relative;
                padding-right: .35rem;
                line-height: 1.12rem;
                font-size: .28rem;
                color: #999;
                &::before{
                    position: absolute;
                    right: 0;
                    color: #999;
                }
            }
            input{
                visibility: hidden;
                height: 1px;
                width: 1px;
            }
        }
        .feild-cell{
            display: block;
            height: 1rem;
            background: #fff;
            padding: .3rem .3rem;
            position: relative;
            &::after{
                content: "";
                display: block;
                width: calc(100% - .3rem);
                height: 1px;
                background: #e4e4e4;
                position: absolute;
                bottom: 0;
            }
            span{
                float: left;
            }
            .input-wrapper{
                position: relative;
                padding-right: .35rem;
                &::before{
                    position: absolute;
                    right: 0;
                    color: #999;
                }
                div,input,select{
                    float: right;
                    width: 70%;
                    height: .4rem;
                    border: none;
                    outline: none;
                    text-align: right;
                    color: #333;
                }
                #feild-birth{
                    width: auto;
                }
                select{
                    width: auto;
                }
                div{
                    color: #999;
                }
            }
        }
        .no-border{
            &::after{
                background: transparent;
            }
        }
        .sdk-cell{
            margin-top: .2rem;
            display: block;
            height: 1rem;
            background: #fff;
            padding: .3rem .3rem;
            position: relative;
            &::after{
                content: "";
                display: block;
                width: calc(100% - .3rem);
                height: 1px;
                background: #e4e4e4;
                position: absolute;
                bottom: 0;
            }
            &:last-child{
                &::after{
                    background: transparent;
                }
            }
            span{
                float: left;
            }
            .input-wrapper{
                position: relative;
                padding-right: .35rem;
                &::before{
                    position: absolute;
                    right: 0;
                    color: #999;
                }
                div,input,select{
                    float: right;
                    width: 70%;
                    height: .4rem;
                    border: none;
                    outline: none;
                    text-align: right;
                    color: #333;
                }
                #feild-birth{
                    width: auto;
                }
                select{
                    width: auto;
                }
                div{
                    color: #999;
                }
                .sdk-list{
                    line-height: .48rem;
                    i {
                        margin-right: .08rem;
                        font-size: .45rem;
                    }
                }
            }
        }
    }
}

.page-attention,.page-fans{
    
   .m-navbar{
       position: fixed;
       width: 100%;
   }
    .list-wrapper{
        padding-top: .9rem;
        .list-item{
            height: 1.6rem;
            padding: 0 .3rem;
            border-bottom: 1px solid #e4e4e4;
            img{
                float: left;
                width: 1.12rem;
                height: 1.12rem;
                border-radius: 1.12rem;
                margin-top: .24rem;
            }
            .action{
                float: right;
                width: .8rem;
                height: .4rem;
                line-height: .4rem;
                text-align: center;
                margin-top: .6rem;
                border-radius: 4px;
                border: 1px solid #e4e4e4;
                font-size: .24rem;
                color: #999;
            }
            .info{
                float: left;
                width: calc(100% - 1.92rem);
                padding: .3rem;
                p:last-child{
                    margin-top: .1rem;
                    color: #999;
                }
            }
            .set-foucs{
                border-color: #b5beff;
                color: #b5beff
            }
        }
    }
}

.page-download{
    .m-navbar{
        position: fixed;
        top: 0;
        width: 100%;
    }
    .list-wrapper{
        margin: .9rem 0 0;
        padding: .2rem .3rem 0;
        .list-item{
            width: 3.35rem;
            float: left;
            margin-bottom: .2rem;
            
            &:nth-child(2n) {
                margin-left: .2rem;
            }

            &:last-child{
                margin-bottom: 1.2rem;
            }

            .box-wrapper{
                width: 3.35rem;
                height: 2.4rem;
                border: 1px solid  #e4e4e4;
                padding: .2rem;
                background: #fff;
                .btn-wrapper{
                    height: .32rem;
                    i{
                        float: right;
                        line-height: .38rem;
                    }
                    .ic-check{
                        color: #b5beff;
                    }
                    .ic-ucheck{
                        color: #e4e4e4;
                    }
                    span{
                        display: inline-block;
                        width: 1rem;
                        height: .4rem;
                        line-height: .4rem;
                        text-align: center;
                        font-size: .1rem;
                        border: 1px solid #e4e4e4;
                        border-radius: .4rem;
                        color: #999;
                    }
                }
                img{
                    margin-top: .2rem;    
                }
            }
            .action-name{
                margin-top: .2rem;
                color: #333;
                font-size: .28rem;
            }
            .action-info{
                margin-top: .1rem;
                color: #999;
                font-size: .2rem;
                &::before{
                    margin-right: .1rem;
                    color: #999;
                }
            }
        }
    }
    .del-btn{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        background: #b5beff;
        color: #fff;
        font-size: .35rem;
    }
}

.page-post{
    padding-top: .9rem;
    .m-navbar{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
    .list-wrapper{
        
        .list-item{
            position: relative;
            padding: .2rem .3rem;
            border-bottom: 1px solid #e4e4e4;
            background: #fff;
            .flag{
                display: none;
                position: absolute;
                top: .26rem;
                right: .4rem;
                color: #b5beff;
                font-size: .35rem;
            }
            .ic-ucheck{
                color: #999;
            }
            .info{
                height: 1.12rem;
                .user-info{
                    float: left;
                    width: calc(100% - 2.12rem);
                    margin-left: .2rem;
                    height: 1.12rem;
                    .user-name{
                        margin-top: .1rem;
                        font-size: .32rem;
                        color: #333;
                    }
                    .user-level{
                        display: inline-block;
                        font-size: .24rem;
                        border-radius: 4px;
                        padding: 0 .15rem;
                        background: #ffd800;
                        color: #fff;
                    }
                }
                img{
                    float: left;
                    width: 1.12rem;
                    height: 1.12rem;
                    border-radius: 1.12rem;
                }
                .post-time{
                    float: left;
                    width: .8rem;
                    padding-top: .6rem;
                }
            }
            .detail{
                margin-top: .3rem;
                .title{
                    font-size: .34rem;
                    color: #333;
                }
                .msg{
                    font-size: .28rem;
                    color: #999;
                }
            }
            .imgs{
                margin-top: .2rem;
                div{
                    display: inline-block;
                    width: 3.4rem;
                    height: 3.4rem;
                    margin-bottom: .2rem;
                    &:nth-child(2n) {
                        margin-left: .1rem;
                    }
                    img{
                        margin: 0 auto;
                        max-width: 3.4rem;
                        height: 3.4rem;
                    }
                }
            }
            .more{
                margin-top: .2rem;
                .first{
                    display: inline-block;
                    margin-right: .1rem;
                    width: 4.45rem;
                    height: 4.45rem;
                    img{
                        margin: 0 auto;
                        max-width: 4.45rem;
                        height: 4.45rem;
                    }
                }
                .more-box{
                    width: 2.2rem;
                    float: right;
                    div{
                        width: 2.2rem;
                        height: 2.2rem;
                        &:last-child{
                            margin-top: .05rem;
                        }
                    }
                    .hasMore{
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: rgba(0, 0, 0, .3);
                        }
                        span{
                            position: absolute;
                            display: block;
                            width: 2.2rem;
                            height: 2.2rem;
                            top: 0;
                            line-height: 2.2rem;
                            text-align: center;
                            color: #fff;
                            font-size: .36rem;
                        }
                    }
                }
            }
            .count{
                margin-top: .2rem;
                text-align: right;
                color: #999;
                span{
                    margin-left: .2rem;
                    &::before{
                        margin-right: .1rem;
                    }
                }
                .ic-heart-active{
                    &::before{
                        color: red;
                    }
                }
            }
            .hidden{
                display: none;
            }
        }
    }
    .isEditMode{
        margin-bottom: 1rem;
        .list-item{
            .imgs{
                display: none;
            }
            .flag{
                display: block;
            }
        }
    }
    .del-action{
        display: none;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        background: #b5beff;
        color: #fff;
        font-size: .35rem;
    }
}

.page-rank{
    padding-top: 1.7rem;
    height: 100%;
    .tab-wrapper{
        position: fixed;
        z-index: 9;
        top: .9rem;
        height: .8rem;
        width: 100%;
        line-height: .8rem;
        border-bottom: 1px solid #e4e4e4;
        background: #fff;
        &::after{
            content: "";
            display: block;
            margin-top: calc(.8rem - 2px);
            margin-left: 0;
            width: 50%;
            height: 2px;
            background: #b5beff;
            transition: margin-left .3s ease;
        }

        .tab-cell{
            float: left;
            width: 50%;
            text-align: center;
            color: #333;
            transition: color .3s ease;
        }
        .active{
            color: #b5beff;
        }
    }
    .switch::after{
        margin-left: 50%;
    }

    .content-wrapper{
        width: 200%;
        height: 100%;
        transition: transform .3s ease;
        .content{
            float: left;
            width: 50%;
            height: 100%;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            .item-cell{
                height: 1.6rem;
                padding: .24rem .3rem;
                border-bottom: 1px solid #e4e4e4;
                img{
                    float: left;
                    margin-right: .2rem;
                    width: 1.12rem;
                    height: 1.12rem;
                    border-radius: 1.12rem;
                }
                .info{
                    padding: .05rem 0 .1rem;
                    .name{
                        color: #333;
                        font-size: .32rem;
                    }
                    .time{
                        margin-top: .05rem;
                        color: #999;
                        font-size: .28rem;
                    }
                }
            }
        }
    }
}

.page-level{
    padding-top: .9rem;
    .m-navbar{
        z-index: 10;
    }
    .banner{
        position: relative;
        background: #fff;
        width: 100%;
        height: 3rem;
        background: url("../images/level-bg.png") 100% 100%;
        background-size: contain;
        text-align: center;
        padding-top: .3rem;
        .tag{
            color: rgba(255,255,255, .5);
        }
        .current-level{
            position: absolute;
            top: 1.25rem;
            left: .85rem;
        }
        .next-level{
            position: absolute;
            top: .02rem;
            right: .34rem;
        }
        img{
            width: 1.12rem;
            height: 1.12rem;
            border-radius: 1.12rem;
            margin: 0 auto;
            border: 2px solid #beeebd;
        }
        p{
            position: relative;
            margin-top: .18rem;
            color: #fff;
            font-size: .34rem;
        }
        .label{
            position: absolute;
            margin-top: .08rem;
            margin-left: .2rem;
            font-size: .2rem;
            font-size: .24rem;
            border-radius: 4px;
            background-color: #ffd800;
            padding: 0 .1rem;
        }
        .progress-wrapper{
            width: 4rem;
            margin: .1rem auto 0;
            text-align: left;
            .progress-bg{
                border-radius: .1rem;
                height: .1rem;
                width: 100%;
                background: linear-gradient(to right,#ffd800, #fff3af);
                .progress-bar{
                    float: right;
                    border-top-right-radius: .1rem;
                    border-bottom-right-radius: .1rem;
                    background: #b0eaad;
                    height: .1rem;
                }
            }
            span{
                color: #fff;
                font-size: .2rem;
            }
            .val{
                float: right;
                margin-top: .03rem;
            }
        }
    }
    .privilege{
        background: #fff;
        .title{
            &::before{
                float: right;
                line-height: .8rem;
                margin-right: .3rem;
                color: #80e392;
            }
            &::after{
                content: "";
                display: block;
                float: right;
                width: calc(100% - .3rem);
                height: 1px;
                background: #e4e4e4;
            }
            span{
                font-size: .24rem;
                line-height: .8rem;
                &:last-child{
                    float: right;
                    margin-right: .15rem;
                    color: #80e392;
                }
                &:first-child{
                    color: #333;
                    margin-left: .3rem;
                    &::before{
                        content: "";
                        display: inline-block;
                        width: .2rem;
                        height: .2rem;
                        border-radius: .2rem;
                        background: #ffd800;
                        margin-right: .2rem;
                        line-height: .8rem;
                    }
                }
            }
        }
        .privilege-list{
            height: 3rem;
            .item{
                float: left;
                width: 25%;
                text-align: center;
                padding: .35rem 0;
                i{
                    font-size: .8rem;
                    color: #7cdb7a;
                }
                p{
                    font-size: .28rem;
                }
                span{
                    font-size: .24rem;
                    color: #80e392;
                }
            }
        }
    }
    .raiders{
        background: #fff;
        margin-top: .2rem;
        .title{
            &::after{
                content: "";
                display: block;
                float: right;
                width: calc(100% - .3rem);
                height: 1px;
                background: #e4e4e4;
            }
            span{
                font-size: .24rem;
                line-height: .8rem;
                color: #333;
                margin-left: .3rem;
                &::before{
                    content: "";
                    display: inline-block;
                    width: .2rem;
                    height: .2rem;
                    border-radius: .2rem;
                    background: #ffd800;
                    margin-right: .2rem;
                    line-height: .8rem;
                }
            }
        }
        .table{
            padding: 0 .3rem;
            p{
                margin: .2rem .3rem;
                font-size: .28rem;
                color: #999;
            }
            .table-detail{
                width: 100%;
                border: 1px solid #e4e4e4;
                border-bottom: none;
                line-height: .8rem;
                thead{
                    background: #f2f2f2;
                    border-bottom: 1px solid #e4e4e4;
                    th{
                        height: .8rem;
                        line-height: .8rem;
                        font-size: .28rem;
                        border-right: 1px solid #e4e4e4;
                        &:last-child{
                            border-right: none;
                        }
                    }
                }
                tbody{
                    text-align: center;
                    tr{
                        td{
                            border-bottom: 1px solid #e4e4e4;
                            border-right: 1px solid #e4e4e4;
                            &:last-child{
                                border-right: none; 
                            }
                        }
                    }
                }
            }
        }
    }
    .tip-wrapper{
        padding: .3rem;
        background: #fff;
        .tip{
            color: #999;
            font-size: .20rem;
        }
    }
}

.page-grow{
    .list{
        background: #fff;
        border-bottom: 1px solid #e4e4e4;
        .item{
            width: 100%;
            height: 1.4rem;
            padding-left: .3rem;
            border-bottom: 1px solid #e4e4e4;
            &:last-child{
                border-bottom: none;
            }
            .result{
                float: left;
                line-height: 1.4rem;
                font-size: .36rem;
                color: #5fdc76;
                margin-right: .5rem;
            }
            .info{
                padding: .24rem 0;
                p{
                    &:first-child{
                        font-size: .32rem;
                        color: #333;
                    }
                    &:last-child{
                        font-size: .32rem;
                        color: #999;
                    }
                }
            }
        }
    }
}

.page-level-info{
    height: 100%;
    .content-wrapper{
        height: 100%;
        .side-menu{
            width: 2rem;
            height: 100%;
            float: left;
            border-right: 1px solid #e4e4e4;
            background: #f2f2f2;
            .menu-item{
                text-align: center;
                padding: .3rem 0;
                border-bottom: 1px solid #e4e4e4;
                .level{
                    font-size: .6rem;
                    line-height: .6rem;
                }
                .des{
                    font-size: .28rem;
                    line-height: .3rem;
                }
            }
            .active{
                background: #fff;
                color: #7cdb7a;
            }
        }
        .content{
            height: 100%;
            background: #fff;
            .inner-wrapper{
                padding-left: 2.3rem;
                span, p{
                    display: block;
                    line-height: .8rem;
                    color: #999;
                    font-size: .24rem;
                    border-bottom: 1px solid #e4e4e4;
                }
                p{
                    border-bottom: none;
                }
            }
            .list{
                padding-left: 2rem;
                .item{
                    float: left;
                    width: 33%;
                    text-align: center;
                    margin-bottom: .3rem;
                    .iconfont {
                        font-size: .8rem;
                        color: #7cdb7a;
                    }
                    .des{
                        font-size: .28rem;
                        margin-bottom: .08rem;
                    }
                    .val{
                        font-size: .24rem;
                        line-height: .24rem;
                        color: #80e392;
                    }
                }
            }
        }
    }
}

.page-vip-info{
    padding-top: 0;
    position: relative;
    height: 100%;
    padding-bottom: 6rem;
    .m-header-bar{
        height: 3rem;
        padding-top: .9rem;
        text-align: center;
        background: url('../images/vip-bg.png') 100% 100%;
        background-size: contain;
        img{
            margin: 0 auto;
            width: 1.12rem;
            height: 1.12rem;
            border-radius: 1.12rem;
        }
        .user-name{
            font-size: .36rem;
            color: #333;
            margin-top: .12rem;
        }
    }
    .swiper-wrapper{
        background: #fff;
        padding-bottom: .2rem;
        margin-bottom: .2rem;
        p{
            padding: .2rem .3rem;
            font-size: .28rem;
            color: #333;
            &::before{
                content: "";
                display: inline-block;
                width: .15rem;
                height: .15rem;
                border-radius: .15rem;
                background: #ffd800;
                margin-right: .2rem;
            }
        }
        .swiper{
            width: 100%;
            overflow-x: auto;
            &::-webkit-scrollbar {
                display:none;
            }
            .list{
                width: auto;
                white-space:nowrap;
                img{
                    display: inline-block;
                    width: 1.8rem;
                    height: 2.2rem;
                    margin-right: .2rem;
                    &:first-child{
                        margin-left: .3rem;
                    }
                    &:last-child{
                        margin-right: .3rem;
                    }
                }
            }
        }
        .anchors{
            text-align: center;
            margin-top: .1rem;
            span{
                font-size: .1rem;
                color: #e4e4e4;
                margin-left: .1rem;
            }
            .active{
                color: #dc9a0d;
            }
        }
    }
    .price-tag{
        position: absolute;
        width: 100%;
        bottom: 0;
        background: #fff;
        padding-bottom: .2rem;
        p{
            padding: .2rem .3rem;
            font-size: .28rem;
            color: #333;
            &::before{
                content: "";
                display: inline-block;
                width: .15rem;
                height: .15rem;
                border-radius: .15rem;
                background: #ffd800;
                margin-right: .2rem;
            }
        }
        .tip{
            margin-top: .2rem;
            color: #999;
            font-size: .1rem;
            margin-left: .3rem;
        }
        .tag{
            height: 1.2rem;
            border-radius: 1.2rem;
            border: 2px solid #dc9a0d;
            margin: 0 .3rem .3rem;
            padding: .1rem .5rem;
            .type{
                font-size: .32rem;
                color: #333;
            }
            .price{
                float: right;
                margin-left: .2rem;
                color: #dc9a0d;
            }
            .old{
                color: #999;
                text-decoration: line-through;
            }
            .des{
                color: #dc9a0d;
            }
            .buy-btn{
                float: right;
                display: block;
                border-radius: .3rem;
                color: #fff;
                background: #dc9a0d;
                padding: 0.03rem .2rem;
                font-size: .2rem;
            }
        }
    }
}

.page-buy{
    position: relative;
    height: 100%;
    .order-info{
        background: #fff;
        padding-left: .3rem;
        .order-name{
            color: #333;
            font-size: .24rem;
            line-height: .8rem;
            border-bottom: 1px solid #e4e4e4;
        }
        .detail{
            line-height: .8rem;
            font-size: .24rem;
            .old-price{
                float: right;
                margin-right: .3rem;
                color: #dc9a0d;
                font-size: .28rem;
            }
        }
    }
    .order-action{
        position: absolute;
        background: #fff;
        bottom: 0;
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        padding-left: .3rem;
        font-size: .28rem;
        span{
            color: #dc9a0d;
            margin-left: .2rem;
            font-size: .32rem;
        }
        a{
            float: right;
            width: 2.4rem;
            text-align: center;
            background: #b5beff;
            color: #fff;
            font-size: .28rem;
        }
    }
}
